<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DS SnackBox</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <a href="/" class="logo">⚡ DS SnackBox <span class="badge">⚡ 10 mins • Pune</span></a>
        <nav><a href="/" class="active">Home</a><a href="/products">Menu</a><a href="/cart">Cart 🛒 <span
                    id="cart-count"></span></a></nav>
    </header>

    <main>
        <div class="banner-row">
            <div class="banner-card b-pink">
                <div><span class="tag">SUPER SAVINGS</span>
                    <h3>Zero Delivery Fee</h3>
                    <p>On all orders above ₹99 today!</p>
                </div>
                <a href="/products" class="b-btn">Order Now →</a>
            </div>
            <div class="banner-card b-blue">
                <div><span class="tag">FRESH & CRISP</span>
                    <h3>Cravings Corner 🍿</h3>
                    <p>Fresh cookies & chilled drinks ready to ship.</p>
                </div>
                <a href="/products" class="b-btn">Explore Menu →</a>
            </div>
        </div>
    </main>

    <footer>
        <p>⚡ DS SnackBox • Delivered in Minutes</p>
    </footer>
    <script src="/static/script.js"></script>
</body>

</html>